*{
    margin: 0px;
    border: 0px;
}


/* Navbar Starts */
.nav{
    background:rgb(226, 85, 34);

}

.navbar{
    display: flex;
    text-align: center;

}

.img-logo{
  margin-left: 100px;
}

.logo{
    margin: auto 5px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
}

.bar{
    gap: 400px;
    margin: auto 1300px;
}
/* Navbar Ends */


/* Container1 starts */
.container1{
    height: 320px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image:url(./assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}
.searchcon{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search{
     border-radius: 30px;
     border: 2px solid white;
     width: 300px;
     padding: 8px;
     font-size: 16px;
}
.searchcon i{
  background-color: #e25522;
  border-radius: 70px;        
  padding: 15px;
  transition: all 0.3s ease;
  border: 1px solid white;
}

.searchcon i:hover{
  opacity: 0.8;
  background-color: white;
  transform: scale(1.1); 
  color: black;
}

.container1 span{
    margin: 15px 0px;
    color: white;
    display: block;
}

.question{
    font-size: xx-large;
    letter-spacing: 3px;
}

/* Container1 Ends */

/* Categories starts */

.Categories {
  margin: 30px 100px;
}

.categories-title{
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.categories-title::after{
  content: '';
  position: absolute;
  width: 86px;
  height: 4px;  
  background-color: orangered;
}

.post-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 10px;
  background-color: white;
}

.post-card {
  background-color: white;
  width: 16vw;
  width: calc((100% - 80px) / 5);
  text-align: center;
  border-radius: 5px;
  position: relative;
  border: 1.5PX solid whitesmoke;
}

.post-card:hover{

  transition: all 2s;
  scale: 0.7;

}

.post-card img {
  height: 180px;
  width: 96%;
  border-radius: 5px;
  object-fit: cover;
  border: 5px solid white;
}

.post-card span {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(239, 84, 6, 0.85);
  color: rgb(241, 240, 239);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 6px;
}



/* Categories Ends */


/* vegetarian css */

.information{
  height: 280px;
  margin: 20px 60px;
  border: 1px solid orangered;
  border-radius: 1px;
  background-color: whitesmoke;
}

.information h2{
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: orangered;
  letter-spacing: 1px;
}

.information p{
   font-family: 'Roboto', sans-serif;
   line-height: 1.7;
   font-size: 18px;
   margin: 10px 15px;
   color: rgb(114, 114, 114);
}

.meals{
  margin: 50px 60px;
  margin-right: 10px;
}

.meals-title{
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.meals-title::after{
  content: '';
  position: absolute;
  width: 83px;
  height: 4px;  
  background-color: orangered;
}

.meal-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 10px;
  background-color: white;
}

.meal-card{
  background-color: white;
  width: 16vw;
  width: calc((100% - 80px) / 5);
  text-align: center;
  border-radius: 5px;
  position: relative;
  border: 1.5PX solid whitesmoke;
}

.meal-card img{
  height: 180px;
  width: 96%;
  border-radius: 5px;
  object-fit: cover;
  border: 5px solid white;
}

/* vegetarian css Ends */